Source: allwinner-prebuilt-extra
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,

Package: allwinner-prebuilt-extra
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: Additional Allwinner prebuilt
 This package provides additional Allwinner prebuilt
 packages that are not included in Git repos.
 This is currently an empty package.
